
    
    

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    
}
header {
    flex-grow: 0 ;
    background: linear-gradient(90deg, rgb(243, 112, 33), rgb(255,189,89));
}
.flex {
    display: flex;
    flex-flow: column;
    font-family: 'Rubik', sans-serif;
    padding: 10px 0 10px;
}
.f4bank {
    font-size: 70px;
    color: aliceblue;
    margin: 0 auto;
}
#f4 {
    color: black;
    font-weight: bold;
    align-self: center;
}
.f4-acesso {
    display: flex;

}
.navegacao {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    text-align: center;
}
.navegacao li {
    padding: 10px 0;
}
.navegacao li a {
    font-size: 40px;
    color: aliceblue;
}
.navegacao li a:hover {
    color: black;
}
.acesso {
    position: absolute;
    right: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    gap: 10px;
    margin-top: 20px;
}
#agencia {
    width: 40px;
}
.acesso-texto {
    font-size: 18px;
    font-weight: 700;

}
#conta {
    width: 55px;
}
#digito {
    width: 20px;
}
#acessar {
    color: black;
    width: 100px;
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
    background-color: aliceblue;
    margin-left: 20px;
}
#acessar:hover {
    background-color: darkgray;
}
main {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-flow: column;
    
}

/*começo do código da helen*/

.container-mulher-texto{
    background-color:rgb(243, 112, 33) ;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
    justify-content: center;
}

.container-mulher-texto img{
    max-width: 600px;
    min-width: 200px;
    margin: 0px 0px 0px 0px;
}

.container-mulher-texto p{
margin: 10px 0px 0px 0px ;
color: rgb(244, 248, 244);
font-family: 'Rubik', sans-serif;
font-size: 40px;
}
#div-direita {
    background-color: rgb(243, 112, 33 );
    padding: 10px;
}
.dados-do-cliente  {
    display: inline;
    height: 400px;
    width: 350px;
    max-width: 300px;
    min-width: 200px;
}

.peca-seu-cartao {
    margin-top: 150px;
    margin: 100px 0px 0px 0px;
    text-align: center;
    color: rgb(8, 8, 8);
    font-family: 'Rubik', sans-serif;
    
}
#container-dados {
    position: relative;
    color: aliceblue;
}
    
#container-dados img{
    width: 100%;
    border-radius: 10%;
}
.texto {
max-width: 400px;
min-height: 300px;
margin-top: 15px;
font-size: 16px;
}
.peca-seu-cartao input {
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-top: 50px;

}
.digite-cpf {
    font-family: Arial, Helvetica, sans-serif;
    width: 25px;
    margin-top: 100px;
}

.botao{
    width: 80px;
    height: 30px;
    margin-left: 200px;
    margin-top: 15px;
}

.container-texto-logo {
    display: flex;
    flex-wrap: wrap ;
    min-width: 250px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: rgb(247, 145, 77);
}
.container-texto-logo > img{
    width: 300px;
    min-width: 200px;
    margin-left: 100px;
    border-radius: 20%;
}
.cartao {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: aliceblue;
    margin-left: 200px;
    
}
.cartao > h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 80px;
    color: aliceblue;
    margin-left: 50px;
}

.paragrafo{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
button.saiba-mais {
    font-size: 17px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    color: rgb(247, 251, 253);
    background-color: rgb(247, 145, 77);
}
/*fim do código da hellen*/
#cartao-de-credito-link {
    font-size: 60px;
    text-align: center;
    padding: 100px 0px 100px;
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
}
.cartao-de-credito-h2 {
    background-color: rgb(243, 112, 33);
    margin: 10px 10px 0px 10px ;
}

.conta-digital, .quem-somos {
    margin: 100px 50px 100px 50px;
    font-family: 'Rubik', sans-serif;
}
:is(.conta-digital, .quem-somos) h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
}
.conta-digital-container, .quem-somos-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
}
:is(.conta-digital-container, .quem-somos-container) img{
    min-width: 200px;
    max-width: 500px;
    border-radius: 5%;
}
:is(.conta-digital-container, .quem-somos-container) p {
    font-weight: bold;
    font-size: 30px;
    min-width: 200px;
    max-width: 500px;
}
footer {
    flex-grow: 0;
    background: linear-gradient(90deg, rgb(255,189,89), rgb(243, 112, 33));
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, auto));
    
}
.footer-colunas {
    text-align: center;
    padding: 20px 0 20px;
}
#contato, #siga {
    font-size: 30px;
}
.telefones p {
    padding-top: 10px;
    font-size: 20px;
    color: aliceblue;
}
.telefones a {
    font-size: 25px;
    color: black;
}
.rede-sociais-linha {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.rede-sociais-linha p {
    color: aliceblue;
    font-size: 25px;
    
}
.icone {
    width: 30px;
    height: 30px;
}
.endereco {
    color: black;
    font-size: 20px;
}
@media screen and (min-width : 120px) and (max-width : 1300px) { 
    /* celulares */ 
    .acesso {
    position: relative;
    right: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px;
    }
    .f4-acesso {
        flex-flow: column;

    }
}